<%- include("partials/header.ejs") %> <!-- Include header partial -->

<div class="jumbotron" style="margin-top: 1cm;">
    <!-- Jumbotron with welcome message and introduction -->
    <h1 class="display-4">Welcome to My Blog!</h1> <!-- Large heading -->
    <p class="lead">This is a simple blog application created using Node.js and Express.</p> <!-- Lead paragraph -->
    <hr class="my-4"> <!-- Horizontal rule -->
    <p>Click the button below to view all posts.</p> <!-- Message prompting to view posts -->
    <a class="btn btn-primary btn-lg" href="/viewpost" role="button">View Posts</a> <!-- Button to view posts -->
</div>

<%- include("partials/footer.ejs") %> <!-- Include footer partial -->
