<%- include("partials/header.ejs") %>
    
        <div class="jumbotron" style="margin-top: 1cm;">

            <h1 class="display-4">Welcome to My Blog!</h1>

            <p class="lead">This is a simple blog application created using Node.js and Express.</p>

            <hr class="my-4">

            <p>Click the button below to view all posts.</p>

            <a class="btn btn-primary btn-lg" href="/viewpost" role="button">View Posts</a>

        </div>


  <%- include("partials/footer.ejs") %>